
.mode {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transition: background-image 3s;
}

.navbar {
    background-color: #BF1A1A !important;
    border-radius: 30px;
    width: 80%;
    margin-top: 2%;
}

.btn {
    color:  #E8E8E8 ;
}

.carousel-inner {
    max-height: 50% !important;
    max-width: 100%;
    display: flex;
}

.carousel-item img {
  
  transition: filter 0.3s ease-in-out; /* Smooth transition for the effect */
}